html {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    background-color: #005999;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: crimson;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

a {
    color: darkblue;
}
a:hover {
    color: cornsilk;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #005999;
    text-shadow: 3px 3px 1px black;
    font-size: 60px;
    text-align: center;
}
  
h1:hover {
    text-shadow: 4px 4px 2px black;
}

button {
    display: table;
    margin: auto;
}

button:hover {
    color: green;
    box-shadow: 3px 3px 1px black;
}

img {
    width: 550px;
    height: 420px;
    display: table;
    margin: 0 auto;
}

p, li {
    font-size: 16px;    
    line-height: 1.3;
    letter-spacing: 0.5px;
}